@import url("/beauty/animations.css");

a {
    font-size:xx-large;
    font-family: verdana;
    animation-name: emergence;
    animation-delay: 16s;
    animation-duration: 1s;
    animation-fill-mode:both;

    position: absolute;
    bottom: 0;
    /*transform: translateY(-25%);*/
    /*transform: translate(10%, -100%);*/
}

a:hover, a:visited, a:link {
    text-decoration: none;
    color:darkblue;
}
a:active {
    text-decoration: none;
    color:darkslateblue;
}

/* Back and Again buttons */
a.back {
    animation-name: emergence, slidedin;
    animation-duration: 4s, 2.5s;
    animation-fill-mode:both;
    left: 0;
    /*left: 0%;*/
}
a.again{
    animation-name: emergence, slidedin;
    animation-duration: 4s, 2.5s;
    animation-fill-mode:both;
    right: 0;
    /*left: 95%;*/
}

/* Instagram button */
a.insta {
    animation-delay: 17s;
    font-size:small;
    
    /*top: 100%;*/
}
/* Instagram button colors */
a.insta:hover, a.insta:visited, a.insta:link {
    text-decoration: none;
    color:rgb(0, 0, 35)
}
a.insta:active {
    text-decoration: none;
    color:darkslateblue;
}

/* Mobile adjustments */
.mobile a.insta {bottom: auto;}